<% form_input = 'flex flex-col items-start' %>

<%= form_with model: [ :employee, employee_movie ], class: "space-y-4" do |form| %>
  <div class="<%= form_input %>">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>

  <div class="<%= form_input %>">
    <%= form.label :duration_minutes, "Duration (minutes)" %>
    <%= form.number_field :duration_minutes, min: 1 %>
  </div>

  <div class="<%= form_input %>">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, rows: 4, class: 'min-w-[300px]' %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary w-full sm:w-auto" %>
  </div>
<% end %>
