<% form_input = 'flex flex-col items-start' %>

<%= form_with model: [ :employee, employee_movie ], class: "space-y-4" do |form| %>
  <div class="<%= form_input %>">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>

  <div class="<%= form_input %>">
    <%= form.label :duration_minutes, "Duration (minutes)" %>
    <%= form.number_field :duration_minutes, min: 1 %>
  </div>

  <div class="<%= form_input %>">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, rows: 4, class: 'min-w-[300px]' %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
